* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

li,
ul {
  list-style: none;
}
body {
  background: #ccc;
}
.container {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* EliceDXNeolliOTF */
@font-face {
  font-family: "EliceDXNeolliOTF";
  font-weight: 300;
  src: url("./fonts/EliceDXNeolliOTF-Light.otf") format("opentype");
}
@font-face {
  font-family: "EliceDXNeolliOTF";
  font-weight: 500;
  src: url("./fonts/EliceDXNeolliOTF-Medium.otf") format("opentype");
}
@font-face {
  font-family: "EliceDXNeolliOTF";
  font-weight: 700;
  src: url("./fonts/EliceDXNeolliOTF-Bold.otf") format("opentype");
}

/* GeistVF */
@font-face {
  font-family: "GeistVF";
  font-weight: 400;
  src: url("./fonts/GeistVF.woff") format("woff");
}

/* NotoSansKR */
@font-face {
  font-family: "NotoSansKR";
  font-weight: 100;
  src: url("./fonts/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 200;
  src: url("./fonts/NotoSansKR-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 300;
  src: url("./fonts/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url("./fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;
  src: url("./fonts/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 600;
  src: url("./fonts/NotoSansKR-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  src: url("./fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 800;
  src: url("./fonts/NotoSansKR-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 900;
  src: url("./fonts/NotoSansKR-Black.otf") format("opentype");
}

/* SUIT */
@font-face {
  font-family: "SUIT";
  font-weight: 100;
  src: url("./fonts/SUIT-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "SUIT";
  font-weight: 200;
  src: url("./fonts/SUIT-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "SUIT";
  font-weight: 300;
  src: url("./fonts/SUIT-Light.ttf") format("truetype");
}
@font-face {
  font-family: "SUIT";
  font-weight: 400;
  src: url("./fonts/SUIT-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SUIT";
  font-weight: 500;
  src: url("./fonts/SUIT-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "SUIT";
  font-weight: 600;
  src: url("./fonts/SUIT-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "SUIT";
  font-weight: 800;
  src: url("./fonts/SUIT-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "SUIT";
  font-weight: 900;
  src: url("./fonts/SUIT-Heavy.ttf") format("truetype");
}
