.container {
  display: flex;
  justify-content: center;
}
.main {
  max-width: 600px;
}
.banner {
  position: relative;
  width: 100%;
  aspect-ratio: auto 2781 / 3933;
}
.floatBtn {
  cursor: pointer;
  border-radius: 10px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 60px;
  height: 60px;
  border: none;
  overflow: hidden;
}
.floatBtn > img {
  width: 100%;
  height: 100%;
}
/*------------ Form Section --------------*/
.formSection {
  background: #1a2340;
  width: 100%;
  padding-top: 18px;
}
.section1Text {
  margin-bottom: 14px;
  font-family: var(--font-elice-dx-neolli);
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
.formBox {
  padding: 8.44px;
}
.form {
  background: #fff;
  padding: 11px 9px;
}
.formBox h4 {
  font-family: var(--font-noto-sans-kr);
  font-size: 11px;
  font-weight: 700;
  line-height: 12.15px;
  margin-bottom: 10.84px;
}
.formContents {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8.5px;
}
.formRow {
  display: flex;
  align-items: center;
}
.formRow h5 {
  width: 51px;
  display: block;
  display: flex;
  align-items: center;
  font-family: var(--font-noto-sans-kr);
  color: #222222;
  font-size: 9px;
  font-weight: 500;
}
.formContents input.design {
  outline: none;
  height: 24px;
  border: 0.56px solid #aaaaaa;
  border-radius: 2.81px;
  padding: 0 4px;
  font-size: 9px;
  letter-spacing: -2%;
}
.formContents input::placeholder {
  font-family: var(--font-suit);
  font-weight: 500;
  color: #757575;
  font-size: 9px;
  letter-spacing: -2%;
}
.input1 {
  flex-grow: 1;
}
.formRow .halfRow {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
}
.halfRow > button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  flex-grow: 1;
  height: 24px;
  border: 0.56px solid #aaaaaa;
  border-radius: 2.81px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-noto-sans-kr);
  color: #222222;
  font-size: 9px;
  font-weight: 700;
  background: #fff;
}
.halfRow > button.on {
  background: #1a2340;
  color: #fff;
}
.halfRow2 span {
  font-family: var(--font-noto-sans-kr);
  font-size: 7.44px;
  font-weight: 500;
  letter-spacing: -2%;
}
.formRow .halfRow2 {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.input2 {
  flex-grow: 1;
}
.checkArea {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 11.7px;
}
.checkArea label {
  cursor: pointer;
  font-family: var(--font-suit);
  color: #222222;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -2%;
}
.checkArea label,
.checkArea span {
  font-size: 7px;
  letter-spacing: -2%;
}
.checkArea span {
  cursor: pointer;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.termBtn {
  all: unset;
  box-sizing: border-box;
  font-family: var(--font-suit);
  color: #222222;
  font-weight: 400;
  line-height: 21px;
  font-size: 7.44px;
  cursor: pointer;
  letter-spacing: -2%;
}

.submitBtn {
  width: 100%;
  height: 28.41px;
  border-radius: 16.88px;
  background: #1a2340;
  color: #fff;
  font-size: 13.5px;
  font-family: var(--font-noto-sans-kr);
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: -0.81px;
}
.formSection input[type="checkbox"] {
  display: none;
}
.customChk {
  width: 8px;
  height: 8px;
  background: url("./asset/check_false.png") no-repeat center center / contain;
}
.customChk.checked {
  background: url("./asset/check_true.png") no-repeat center center / contain;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modalContent {
  position: relative;
  width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 8px;
  padding: 16px;
}

.modalContent > .text {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-family: var(--font-noto-sans-kr);
  font-size: 8px;
  font-weight: 400;
  color: #303136;
  line-height: normal;
  letter-spacing: -2%;
}

.closeBtn {
  all: unset;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: calc(100% + 4px);
  cursor: pointer;
}

/*------------- Slider Section ----------------*/
.sliderSection {
  width: 100%;
  background: #eef1fa;
  padding: 18px;
}
.sliderSection > span {
  display: inline-block;
  width: 100%;
  height: 31px;
  font-family: var(--font-noto-sans-kr);
  font-size: 11.7px;
  font-weight: 700;
  color: #333333;
  letter-spacing: -2%;
  text-align: center;
}
.sliderSection > span > em {
  font-family: var(--font-noto-sans-kr);
  color: #3360fe;
  font-style: normal;
  letter-spacing: -2%;
}
.slideFrame {
  position: relative;
  width: 100%;
  aspect-ratio: 324 / 153;
  overflow: hidden;
}
.slideWrap {
  position: absolute;
  display: flex;
  left: 0;
  width: 300%;
  height: 100%;
  background: #ffffff;
  transition: 0.4s;
}
.slide {
  width: 100%;
  aspect-ratio: 324 / 153;
}
.slide > img {
  width: 100%;
  height: 100%;
}

/*------------- readMeSection ----------------*/
.readMeSection {
  padding: 8.44px;
  background: #dfe3e6;
}
.readMeWrap {
  background: #fff;
  padding: 8px;
}
.readMeWrap > h3 {
  padding-top: 10px;
  padding-bottom: 16px;
  text-align: center;
  font-family: var(--font-noto-sans-kr);
  font-weight: 700;
  color: #303136;
  line-height: 17.38px;
  letter-spacing: -2%;
}
.readMeWrap .line {
  margin-bottom: 16px;
  width: 100%;
  height: 1px;
  background: #787b8a;
}
.readMeText ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.readMeText ul li {
  font-family: var(--font-noto-sans-kr);
  font-weight: 400;
  color: #636670;
  font-size: 7px;
  line-height: 10.14px;
  letter-spacing: -2%;
}
